<b>You have a new student in the course</b>
<%= link_to @course, @course %>
<div class="row"></div>
<b>Enrollment date:</b>
<%= @enrollment.created_at.strftime('%Y-%m-%d %H:%M') %>
<div class="row"></div>
<b>Enrollment ID:</b>
<%= @enrollment.slug %>
<div class="row"></div>
<b>Course price:</b>
<%= number_to_currency(@course.price) %>
<div class="row"></div>
<b>Price paid:</b>
<%= number_to_currency(@enrollment.price) %>
<div class="row"></div>
<b>Student:</b>
<%= @enrollment.user.username %>
<%= mail_to @enrollment.user.email, @enrollment.user.email %>
<p></p>
Regards,
<div class="row"></div>
<%= link_to 'The Paranabuka Courses team', root_url %>
