<div class="card">
  <div class="card-header">
    <% if current_user == user && user.provider.present? %>
      <%= image_tag user.image, size: '32x32', alt: user.email, class: 'rounded-circle' %>
      <%= user.name %>
      (
      <%= link_to user.email, user_path(user) %>
      )
    <% else %>
      <i class="fas fa-user"></i>
      <%= link_to user.email, user_path(user) %>
    <% end %>
    <% if user.online? %>
      <i class="text-success fa-solid fa-circle"></i>
    <% else %>
      <i class="text-danger fa-regular fa-circle"></i>
    <% end %>
  </div>
  <div class="card-header">
    Signed up
    <%= time_ago_in_words(user.created_at) %>
    ago
  </div>
  <div class="card-body">
    <b><%= 'sign_in_count'.humanize %>:</b>
    <%= user.sign_in_count %>
    <div class="row"></div>
    <b><%= 'current_sign_in_at'.humanize %>:</b>
    <%= user.current_sign_in_at %>
    <div class="row"></div>
    <b><%= 'last_sign_in_at'.humanize %>:</b>
    <%= user.last_sign_in_at %>
    <div class="row"></div>
    <b><%= 'current_sign_in_ip'.humanize %>:</b>
    <%= user.current_sign_in_ip %>
    <div class="row"></div>
    <b><%= 'last_sign_in_ip'.humanize %>:</b>
    <%= user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    <b><%= 'courses_income'.humanize %>:</b>
    <%= number_to_currency(user.course_income) %>
    <div class="row"></div>
    <b><%= 'enrollment_expenses'.humanize %>:</b>
    <%= number_to_currency(user.enrollment_expenses) %>
    <div class="row"></div>
    <b><%= 'balance'.humanize %>:</b>
    <%= number_to_currency(user.balance) %>
  </div>
  <div class="card-footer">
    <i class="fa-solid fa-graduation-cap"></i>
    Courses created:
    <%= user.courses_count %>
    <div class="row"></div>
    <i class="fa-solid fa-lock-open"></i>
    Enrollments:
    <%= user.enrollments_count %>
    <div class="row"></div>
    <i class="fa-solid fa-message"></i>
    Comments:
    <%= user.comments_count %>
  </div>
  <div class="card-footer">
    Confirmed email?
    <% if user.confirmed_at.present? %>
      <span class="badge text-bg-success">Yes</span>
    <% else %>
      <span class="badge text-bg-danger">No</span>
    <% end %>
  </div>
  <div class="card-footer">
    <% user.roles.each do |role| %>
      <span class="badge bg-info"><%= role.name %></span>
    <% end %>
    <%= link_to 'Edit roles', edit_user_path(user), class: "btn btn-sm btn-warning text-dark" if policy(user).edit? %>
  </div>
</div>
