<% content_for :title do %>
  Learn anything, on your schedule
<% end %>
<div class="container-fluid text-lg-left p-5 bg-light">
  <div class="display-5 fw-bold mb-5">
    What do you want to learn today?
  </div>
  <div class="display-6 mb-5">
    Join to access all courses
  </div>
  <% if current_user %>
    <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
      <div class="d-flex">
        <%= f.search_field :title_or_short_description_cont, class: "form-control me-2", placeholder: "Find a course", aria_label: 'Search', autocomplete: 'off' %>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    <% end %>
  <% end %>
</div>
<div class="card-group mt-3 mb-4">
  <div class="card card-body">
    <h1>
      <i class="fa-solid fa-graduation-cap"></i>
    </h1>
    <%= Course.count %>
    online courses
    <div class="row"></div>
    Explore a variety of fresh topics
  </div>
  <div class="card card-body">
    <h1>
      <i class="fa-solid fa-chalkboard-user"></i>
    </h1>
    <%= Course.distinct.count(:user_id) %>
    expert instructors
    <div class="row"></div>
    Find the right instructor for you
  </div>
  <div class="card card-body">
    <h1>
      <i class="fa-solid fa-user-graduate"></i>
    </h1>
    <%= User.count %>
    active learners
    <div class="row"></div>
    Join the knowledge-sharing community
  </div>
  <div class="card card-body">
    <h1>
      <i class="fa-solid fa-infinity"></i>
    </h1>
    Lifetime access
    <div class="row"></div>
    Learn on your schedule
  </div>
</div>
<% if current_user %>
  <div class="row my-3">
    <h3>
      <i class="fa-solid fa-rocket"></i>
      Continue Learning
    </h3>
    <div class="container">
      <div class="row" data-masonry='{"percentPosition": true }'>
        <% @enrolled_courses.each do |course| %>
          <div class="col-sm-6 col-lg-4 mb-2">
            <%= render "courses/course", course: course %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-end">
      <%= link_to my_enrolled_courses_path do %>
        My enrolled courses
        <i class="fa-solid fa-up-right-from-square"></i>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row my-3">
  <h3>
    <i class="fa-solid fa-chart-line"></i>
    Popular Courses
  </h3>
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @popular_courses.each do |course| %>
        <div class="col-sm-6 col-lg-4 mb-2">
          <%= render "courses/course", course: course %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-end">
    <%= link_to courses_path(courses_search: {s: 'enrollments_count desc'}) do %>
      Most popular courses
      <i class="fa-solid fa-up-right-from-square"></i>
    <% end %>
  </div>
</div>
<div class="row my-3">
  <h3>
    <i class="fa-solid fa-star"></i>
    Top Rated Courses
  </h3>
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @top_rated_courses.each do |course| %>
        <div class="col-sm-6 col-lg-4 mb-2">
          <%= render "courses/course", course: course %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-end">
    <%= link_to courses_path(courses_search: {s: 'average_rating desc'}) do %>
      Top rated courses
      <i class="fa-solid fa-up-right-from-square"></i>
    <% end %>
  </div>
</div>
<div class="row my-3">
  <h3>
    <i class="fa-solid fa-clock"></i>
    Most Recent Courses
  </h3>
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @most_recent_courses.each do |course| %>
        <div class="col-sm-6 col-lg-4 mb-2">
          <%= render "courses/course", course: course %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-end">
    <%= link_to courses_path(courses_search: {s: 'created_at desc'}) do %>
      Latest courses
      <i class="fa-solid fa-up-right-from-square"></i>
    <% end %>
  </div>
</div>
<div class="row mt-3 mb-5">
  <h3>
    <i class="fa-solid fa-tags"></i>
    Most popular tags
  </h3>
  <div class="container mt-2">
    <% @popular_tags.each do |tag| %>
      <%= link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}), class: "btn btn-info text-light tag-btn" do %>
        <h5 class="my-1">
          <%= tag.name %>
          <%= tag.course_tags_count %>
        </h5>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row my-3">
  <h3>
    <i class="fa-solid fa-comments"></i>
    What our students have to say
  </h3>
  <div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @reviewed_enrollments.each do |enrollment| %>
        <div class="col-sm-6 col-lg-4 mb-2">
          <%= render "enrollments/enrollment", enrollment: enrollment %>
        </div>
      <% end %>
    </div>
  </div>
</div>
