<% content_for :title do %>
  <%= action_name.humanize %>
  enrollments
<% end %>
<h3>
  <div class="text-center">
    <%= action_name.humanize %>
    enrollments
    <span class="badge bg-info"><%= @enrollments.count %></span>
  </div>
</h3>
<div class="d-grid gap-3 mt-4">
  <div class="col-8">
    <%= search_form_for @q, url: @ransack_path do |f| %>
      <div class="input-group gap-2">
        <%= f.search_field :user_email_cont, placeholder: "User", class: "form-control form-control-sm", autocomplete: 'off' %>
        <%= f.search_field :course_title_cont, placeholder: "Course", class: "form-control form-control-sm", autocomplete: 'off' %>
        <%= f.search_field :rating_eq, placeholder: "Rating", class: "form-control form-control-sm", autocomplete: 'off' %>
        <%= f.search_field :review_cont, placeholder: "Review", class: "form-control form-control-sm", autocomplete: 'off' %>
        <span class="input-group-append">
          <button class="btn btn-primary btn-sm" type="submit">
            <span class="fa fa-search", aria-hidden="true"></span>
          </button>
        </span>
        <%= link_to @ransack_path, class: "btn btn-sm" do %>
          <i class="fa-solid fa-rotate"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>
            <i class="fa-solid fa-user"></i>
            <%= sort_link(@q, :user_email, 'User') %>
          </th>
          <th>
            <i class="fa-solid fa-graduation-cap"></i>
            <%= sort_link(@q, :course_title, 'Course') %>
          </th>
          <th>
            <i class="fa-solid fa-lock-open"></i>
            <%= sort_link(@q, :created_at, 'Enrolled on') %>
          </th>
          <th>
            <i class="fa-solid fa-dollar-sign"></i>
            <%= sort_link(@q, :price, 'Price') %>
          </th>
          <th>
            <i class="fa-solid fa-spinner"></i>
            Progress
          </th>
          <th>
            <i class="text-warning fa-solid fa-star"></i>
            <%= sort_link(@q, :rating, 'Rating') %>
          </th>
          <th>
            <i class="text-warning fa-solid fa-comment"></i>
            Review
          </th>
          <th>
            <i class="text-warning fa-solid fa-clock"></i>
            <%= sort_link(@q, :updated_at, 'Reviewed on') %>
          </th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @enrollments.each do |enrollment| %>
          <tr>
            <td><%= enrollment.id %></td>
            <td><%= link_to enrollment.user.username, user_path(enrollment.user) %></td>
            <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
            <td><%= enrollment.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= number_to_currency(enrollment.price) %></td>
            <td><%= number_to_percentage(enrollment.course.progress(enrollment.user), precision: 0) %></td>
            <td><%= enrollment.rating %></td>
            <td><%= enrollment.review %></td>
            <td><%= enrollment.updated_at.strftime("%Y-%m-%d %H:%M") if enrollment.rating.present? %></td>
            <td><%= link_to 'See review', enrollment %></td>
            <td><%= link_to 'Add review', edit_enrollment_path(enrollment) if policy(enrollment).edit? %></td>
            <td><%= link_to 'Delete enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } if policy(enrollment).destroy? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
