<div class="card">
  <div class="card-header">
    <% if !@course.owned_by?(current_user) && lesson.completed_by?(current_user) %>
      <i class="text-success fa-solid fa-square-check"></i>
    <% else %>
      <i class="text-secondary fa-regular fa-square"></i>
    <% end %>
    <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <% if lesson.video.attached? %>
        <video controls preload="metadata" width="100%" poster="<%= url_for(lesson.video_thumbnail) if lesson.video_thumbnail.attached? %>">
          <source src="<%= rails_blob_url(lesson.video) %>" type="<%= lesson.video.content_type %>">
        </video>
      <% end %>
      <%= lesson.content %>
    </div>
    <% if policy(lesson).edit? %>
      <div class="card-footer">
        <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Destroy', [@course, lesson], class: 'btn btn-sm btn-danger text-light', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <div class="card-footer">
      <div class="float-start">
        <%= link_to course_lesson_path(@course, @previous_lesson), class: 'btn btn-sm btn-outline-secondary fw-bold' do %>
          <i class="fa-solid fa-arrow-left"></i>
          Previous
        <% end if @previous_lesson.present? %>
      </div>
      <div class="float-end">
        <%= link_to course_lesson_path(@course, @next_lesson), class: 'btn btn-sm btn-outline-secondary fw-bold' do %>
          <i class="fa-solid fa-arrow-right"></i>
          Next
        <% end if @next_lesson.present? %>
      </div>
    </div>
  <% end %>
</div>
