<div class="d-flex align-items-center">
  <div class="me-auto">
    <% if current_user && !@course.owned_by?(current_user) && lesson.completed_by?(current_user) %>
      <i class="text-success fa-solid fa-square-check"></i>
    <% else %>
      <i class="text-secondary fa-regular fa-square"></i>
    <% end %>
    <%= link_to course_lesson_path(@course, lesson) do %>
      <%= "#{lesson.row_order_rank + 1}. #{lesson.title}" %>
    <% end %>
  </div>
  <div>
    <i class="fa-solid fa-message"></i>
    <%= lesson.comments_count %>
    <% if policy(lesson).edit? %>
      <i class="fa-solid fa-user-group"></i>
      <%= lesson.user_lessons_count %>
      <i class="fa-solid fa-eye"></i>
      <%= lesson.user_lessons.map(&:impressions).sum %>
      <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-warning btn-sm text-dark' %>
      <%= link_to 'Destroy', [@course, lesson], class: 'btn btn-danger btn-sm text-light', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
