<% content_for :title do %>
  <%= @lesson.title %>
<% end %>
<div class="d-flex gap-2 mb-3">
  <%= link_to 'Courses', courses_path %> /
  <%= link_to course_path(@course) do %>
    <i class="fa-solid fa-graduation-cap"></i>
    <%= @course.title %>
  <% end %> /
  <%= link_to course_lesson_path(@course, @lesson) do %>
    <i class="fa-solid fa-list-check"></i>
    <%= @lesson.title %>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-8 mb-3">
    <%= render partial: "lesson", locals: { lesson: @lesson } %>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark fw-bold">
        <i class="fa-solid fa-graduation-cap"></i>
        <%= link_to @course.title, course_path(@course) %>
        <div class="float-end">
          <i class="fa-solid fa-spinner"></i>
          <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
        </div>
      </li>
      <% @lessons.each do |lesson| %>
        <li class="list-group-item <%= 'list-group-item-primary fw-bold' if lesson == @lesson %>">
          <%= render partial: 'lessons/lesson_preview', locals: { lesson: lesson } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
