<% content_for :title do %>
  <%= action_name.humanize %>
  courses
<% end %>
<h3>
  <div class="text-center">
    <%= action_name.humanize %>
    courses
    <span class="badge bg-info">
      <%= @courses.count %>
    </span>
  </div>
</h3>
<p></p>
<div class="row">
  <div class="col-md-2">
    <%= search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f| %>
      <i class="fa-solid fa-filter"></i>
      <b>Filtering</b>
      <%= f.search_field :title_cont, placeholder: "Title", class: "form-control form-control-sm" %>
      <%= f.search_field :tags_name_cont_any, placeholder: "Tag name", class: "form-control form-control-sm" %>
      <%= f.search_field :short_description_cont, placeholder: "Description", class: "form-control form-control-sm" %>
      <%= f.select :language_cont, Course.languages, {prompt: 'Language'}, {class: 'form-select', data: {}} %>
      <%= f.select :level_cont, Course.levels, {prompt: 'Level'}, {class: 'form-select', data: {}} %>
      <%= f.search_field :price_eq, placeholder: "Price", class: "form-control form-control-sm" %>
      <%= f.search_field :user_email_cont, placeholder: "Instructor", class: "form-control form-control-sm" %>
      <div class="btn-toolbar mt-2" role="toolbar">
        <div class="btn-group me-2">
          <%= f.button type: :submit, class: "btn btn-primary btn-sm" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to @ransack_path, class: "btn btn-secondary text-light btn-sm" do %>
            <i class="fa-solid fa-filter-circle-xmark"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>
    <div>
      <i class="fa-solid fa-tags"></i>
      <b>Tags</b>
    </div>
    <% @tags.most_popular.each do |tag| %>
      <%= link_to url_for(controller: controller_name, action: action_name, courses_search: {course_tags_tag_id_eq: tag.id}), class: "btn btn-info text-light tag-btn" do %>
        <%= tag.name %>
        <%= tag.course_tags_count %>
      <% end %>
    <% end %>
    <hr>
    <div>
      <i class="fa-solid fa-sort"></i>
      <b>Sorting</b>
    </div>
    <div class="row">
      <%= sort_link @ransack_courses, :price %>
    </div>
    <div class="row">
      <%= sort_link @ransack_courses, :average_rating, 'Top rated' %>
    </div>
    <div class="row">
      <%= sort_link @ransack_courses, :enrollments_count, 'Most popular' %>
    </div>
    <div class="row">
      <%= sort_link @ransack_courses, :created_at, 'Latest' %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="container my-4">
      <div class="row" data-masonry='{"percentPosition": true }'>
        <% @courses.each do |course| %>
          <div class="col-sm-6 col-lg-4 mb-4">
            <%= render partial: "course", locals: { course: course } %>
          </div>
        <% end %>
      </div>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
