<% content_for :title do %>
  <%= @course.title %>
<% end %>
<%= link_to 'Courses', courses_path %> /
<%= link_to @course.title, course_path(@course) %>
<p></p>
<div class="row">
  <div class="col-lg-6">
    <%= render partial: 'course', locals: { course: @course } %>
  </div>
  <div class="col-lg-6">
    <div class="d-grid gap-2">
      <%= link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm btn-block text-light' if policy(@course).owner? %>
      <% @lessons.each do |lesson| %>
        <%= render partial: 'lessons/lesson', locals: { lesson: lesson } %>
      <% end %>
    </div>
  </div>
</div>
