<%= render layout: 'courses/course_wizard/step' do %>
  <%= simple_form_for @course, url: course_course_wizard_path, method: :put do |f| %>
    <div class="form-inputs">
      <%= f.simple_fields_for :lessons do |lesson| %>
        <%= render 'lesson_fields', f: lesson %>
      <% end %>
      <div class="links mb-3">
        <%= link_to_add_association 'Add lesson', f, :lessons %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Save & Continue' %>
    </div>
  <% end %>
<% end %>
