<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-regular fa-sun"></i>
      Paranabuka
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do %>
          <div class="fa fa-home"></div>
          Home
        <% end %>
        <%= link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(courses_path)}" do %>
          <div class="fa-solid fa-graduation-cap"></div>
          Courses
        <% end %>
        <% if current_user %>
          <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
            <div class="input-group">
              <%= f.search_field :title_or_short_description_cont, class: "form-control form-control-sm", style: 'float: left; width 150px;', placeholder: "Find a course", autocomplete: 'off' %>
              <span class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit">
                  <span class="fa fa-search", aria-hidden="true"></span>
                </button>
              </span>
            </div>
          <% end %>
        <% end %>
        <% if current_user&.has_role?(:student) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="studentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa-solid fa-user-graduate"></div>
              <b>Learn</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="studentDropdown">
              <%= link_to my_enrolled_courses_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-graduation-cap"></div>
                My Learning
                <span class="badge bg-danger">
                  <%= current_user.enrollments_count %>
                </span>
              <% end %>
              <%= link_to my_pending_review_courses_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-star"></div>
                Pending review
                <span class="badge bg-danger">
                  <%= current_user.enrollments.pending_review.count %>
                </span>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if current_user&.has_role?(:instructor) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="instructorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa-solid fa-chalkboard-user"></div>
              <b>Teach</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="instructorDropdown">
              <%= link_to new_course_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-square-plus"></div>
                New Course
              <% end %>
              <%= link_to my_created_courses_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-chalkboard-user"></div>
                My Courses
                <span class="badge bg-danger">
                  <%= current_user.courses_count %>
                </span>
              <% end %>
              <%= link_to my_students_enrollments_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-user-group"></div>
                My Students
                <span class="badge bg-danger">
                  <%= Enrollment.joins(:course).where(courses: { user_id: current_user.id }).count %>
                </span>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if current_user&.has_role?(:admin) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa-solid fa-gear"></div>
              <b>Admin</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
              <%= link_to users_path, class: "dropdown-item" do %>
                <div class="fa fa-users"></div>
                Users
              <% end %>
              <%= link_to enrollments_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-lock-open"></div>
                Enrollments
              <% end %>
              <%= link_to activities_path, class: "dropdown-item" do %>
                <div class="fa-solid fa-bell"></div>
                Activities
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa fa-user"></div>
              <b><%= current_user.email %></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
                <div class="fa fa-cog"></div>
                <b>Account settings</b>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <div class="fa fa-sign-out-alt"></div>
                <b>Sign out</b>
              <% end %>
            </ul>
          </li>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
