<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'logo.png' %>
    <title>
      <% if content_for?(:title) %>
        <%= "CoursesApp | #{yield(:title)}" %>
      <% else %>
        CoursesApp
      <% end %>
    </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/notifications' %>
    <div class="container p-3">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
